<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleDisplayName</key>
	<string>SwipeSort</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.photography</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>SwipeSortは写真と動画を整理するために、フォトライブラリへのアクセスが必要です。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>SwipeSortは写真を整理するために、フォトライブラリへの書き込みアクセスが必要です。</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>SwipeSortSupportEmail</key>
	<string>iam74k4@gmail.com</string>
	<key>SwipeSortAppStoreID</key>
	<string>000000000</string>
	<key>SwipeSortPrivacyPolicyURL</key>
	<string>https://apple.com/legal/privacy</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
