<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleDisplayName</key>
	<string>Sift</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.photography</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Sift needs access to your photo library to organize photos and videos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Sift needs write access to your photo library to organize photos.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>SiftSupportEmail</key>
	<string>iam74k4@gmail.com</string>
	<key>SiftDiscordURL</key>
	<string></string>
	<key>SiftAppStoreID</key>
	<string></string>
	<key>SiftPrivacyPolicyURL</key>
	<string></string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
